<h1>Post Number <%=@article.id %></h1>

<%= link_to "Home", welcome_index_path %> |
<%= link_to "Edit", edit_article_path %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
