<h1>Post Number <%=@article.id %></h1>

<%= link_to "Home", welcome_index_path %> |
<%= link_to "Edit", edit_article_path %>
<p>
  <strong>Title:</strong> <br/>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong> <br/>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<p>
<%=render 'comments/form' %>
</p>
