<h1>Post Number <%=@article.id %></h1>

<%= link_to "Home", welcome_index_path %> |
<%= link_to "Edit", edit_article_path %>
<p>
  <strong>Title:</strong> <br/>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong> <br/>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
<p>
  <%= form.label :commenter %><br/>
  <%= form.text_field :commenter %>
</p>
<p>
  <%= form.label :body %><br/>
  <%= form.text_area :body %>
</p>
<p>
  <%= form.submit %>
</p>

<% end %>
